.btn {
  border: none;
  padding: 1.3rem 5rem;
  border: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  background-color: transparent;
  &--project {
    padding: 0.7rem 5rem;
    border: 2px solid #fff;
    color: #fff;
  }
}
