.btn {
  position: relative;
  border: none;
  padding: 1.3rem 3.5rem;
  border: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  background-color: transparent;

  &--main {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    transition: all 0.2s;
    @media only screen and (max-width: 31.25em) {
      padding: 1.3rem 2rem;
      font-size: 1.7rem;
    }
    @media only screen and (max-width: 25em) {
      padding: 1rem 1.5rem;
    }
    & > p {
      font-weight: 300;
      letter-spacing: 1px;
    }
    &:hover {
      background-color: #38ada9;

      .btn--main--icon {
        transform: rotate(90deg);
      }
    }

    &--icon {
      margin-left: 2rem;
      height: 2rem;
      width: 2rem;
      fill: #fff;
      z-index: 5;
      transition: all 0.2s;
    }
  }
  &__container {
    display: flex;
    //font-size: 2.5rem;
    color: #fff;
  }
  &--project {
    opacity: 0;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    width: 17rem;
    padding: 0.7rem 3rem;
    margin: 0 1rem;
    @media only screen and (max-width: 87.5em) {
      width: 15rem;
    }
    @media only screen and (max-width: 87.5em) {
      width: 15rem;
    }
    @media only screen and (max-width: 28.125em) {
      width: 12rem;
    }
    &:hover {
      background-color: rgba(16, 172, 132, 0.7);
    }
  }
}
