.project {
  width: 40rem;
  height: 30rem;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 0.3rem;
  margin: 2rem;
  &__most-proud-of {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    border-top: 9rem solid #dbd833;
    border-left: 9rem solid transparent;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0.4rem 0 rgba(0, 0, 0, 0.5));
    &--text {
      font-size: 1.2rem;
      width: 5rem;
      position: absolute;
      top: 1rem;
      right: 0;
      transform: rotate(45deg);
    }
  }
  &__desc {
    opacity: 0;
    transition: all 0.4s;
    &--title {
      font-size: 2.3rem;
      color: #fff;
    }
    &--stack {
      width: 80%;
      margin: 0 auto;
      margin-top: 1rem;
      font-size: 1.8rem;
      color: #10ac84;
      font-weight: 300;
    }
  }
  @media only screen and (max-width: 40.625em) {
    width: 44rem;
    height: 28rem;
  }

  @media only screen and (max-width: 28.125em) {
    width: 85%;
    height: 23rem;
  }
  &:hover {
    .btn--project {
      opacity: 1;
    }
    .project__desc {
      opacity: 1;
    }
  }
  &--movie {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../src/images/movie-search.png");
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../../src/images/movie-search.png");
      background-size: cover;
      background-position: center;
    }
  }
  &--news {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../src/images/quick-news.png");
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../../src/images/quick-news.png");
      background-size: cover;
      background-position: center;
    }
  }
  &--clothes {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../src/images/clothes.png");
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../../src/images/clothes.png");
      background-size: cover;
      background-position: center;
    }
  }
  &--youtube {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../src/images/youtube.png");
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../../src/images/youtube.png");
      background-size: cover;
      background-position: center;
    }
  }
  &--portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../src/images/portfolio.png");
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../../src/images/portfolio.png");
      background-size: cover;
      background-position: center;
    }
  }
}
