.projects {
  position: relative;
  background-color: #dcdde1;
  text-align: center;
  z-index: 3;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__icon {
    margin-top: 5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: all 0.2s;
    animation: pulse 1.3s infinite;
    stroke: #000;
  }

  &__info {
    font-size: 1.3rem;
    padding: 0 2rem;
    flex-basis: 100%;
  }
}
