.projects {
  position: relative;
  background-color: #dcdde1;
  text-align: center;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__icon {
    margin-top: 5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: all 0.2s;
    animation: pulse 1.3s infinite;
  }
}
